
<div class="comment-box" [style.marginLeft.px]="level * 20">
  <div class="comment-content">
    <p class="author">{{ comment.author.fullName }}</p>
    <p class="text">{{ comment.text }}</p>
  </div>

  <div class="reply-input">
    <input
      [(ngModel)]="replyText"
      placeholder="პასუხი..."
      (keydown.enter)="onEnter()"
    />
    <!-- <button (click)="addReply()">გაგზავნა</button> -->
  </div>

  <div class="replies" *ngIf="comment.replies?.length">
    <app-comment-thread
      *ngFor="let child of comment.replies"
      [comment]="child"
      [level]="level + 1"
      (replyAdded)="replyAdded.emit($event)"
    ></app-comment-thread>
  </div>
</div>
