<nav *ngIf="totalPages > 1">
  <ul class="pagination justify-content-center">

    <li class="page-item" [class.disabled]="page === 1">
      <a class="page-link" (click)="goTo(page - 1)">Previous</a>
    </li>

    <li 
      class="page-item"
      *ngFor="let p of pages"
      [class.active]="p === page">
      <a class="page-link" (click)="goTo(p)">{{ p }}</a>
    </li>

    <li class="page-item" [class.disabled]="page === totalPages">
      <a class="page-link" (click)="goTo(page + 1)">Next</a>
    </li>

  </ul>
</nav>
