<section class="about-section">
  <div class="about-header">
    <h1>ჩვენი ბლოგების პლატფორმა</h1>
    <p>
      აქ შეგიძლია შექმნა შენი ბლოგი, გაუზიარო შენი იდეები, და დაეხმარო სხვებს შენი გამოცდილებით.
      ასევე შეგიძლია დაუკომენტარო სხვა ბლოგებს და ჩაერთო საინტერესო დისკუსიებში.
    </p>
  </div>

  <div class="about-actions">
    <div class="action-card" routerLink="/cabinet/app/blog/add">
      <h3>დაწერე შენი ბლოგი</h3>
      <p>დააკონტრიბუციო და გაუზიარე შენი იდეები სხვა მომხმარებლებს.</p>
    </div>

    <div class="action-card" routerLink="/blog">
      <h3>წაიკითხე სხვა ბლოგები</h3>
      <p>წაიკითხე სხვა ბლოგები და დაუკომენტარე, გაუზიარე შენი აზრები.</p>
    </div>
  </div>
</section>

