<!-- <div class="blog-card" *ngIf="blog._id"  [routerLink]="['blog', blog._id]"
[ngStyle]="{'background-image': blog.coverImageUrl ? 'url(' + blog.coverImageUrl + ')' : 'none'}">
  <h3>{{ blog.title }}</h3>
  <div class="blog-content clamp-3" [innerHTML]="sanitizeHtml(blog.contentHtml)"></div>
 
     <div class="blog-meta">
    <small>ავტორი: {{ blog.author?.fullName || 'უცნობი' }}</small>
    <small *ngIf="blog.createdAt" class="blog-date">
      • {{ blog.createdAt | date:'dd/MM/yyyy' }}
    </small>
  </div>
</div> -->
<!-- <div class="blog-card" *ngIf="blog._id" [routerLink]="['blog', blog._id]">
  <div class="text-side">
    <h3>{{ blog.title }}</h3>
    <div class="blog-content clamp-3" [innerHTML]="sanitizeHtml(blog.contentHtml)"></div>
    <div class="blog-meta">
      <small>ავტორი: {{ blog.author?.fullName || 'უცნობი' }}</small>
      <small *ngIf="blog.createdAt" class="blog-date">• {{ blog.createdAt | date:'dd/MM/yyyy' }}</small>
    </div>
  </div>

  <div class="image-side" *ngIf="blog.coverImageUrl" [ngStyle]="{'background-image': 'url(' + blog.coverImageUrl + ')'}"></div>
</div> -->
<div class="blog-card" *ngIf="blog._id"  (click)="goToDetail(blog._id)">
  <div class="card-inner">
    <div class="text-side">
      <div class="text-content">
        <h3>{{ blog.title }}</h3>
        <div class="blog-content" [innerHTML]="sanitizeHtml(blog.contentHtml)"></div>
        <div class="blog-meta">
          <small>ავტორი: {{ blog.author?.fullName || 'უცნობი' }}</small>
          <small *ngIf="blog.createdAt" class="blog-date">• {{ blog.createdAt | date:'dd/MM/yyyy' }}</small>
        </div>
      </div>
    </div>

    <div class="image-side" *ngIf="blog.coverImageUrl" [ngStyle]="{'background-image': 'url(' + blog.coverImageUrl + ')'}"></div>
  </div>
</div>




